
.article-action-bar{
    &.type01{
        width:100%; display: inline-block;
        &.line{
            width:100%; border-top:1px solid $gray-200;
        }
        .share-block{

        }
        i{
            font-size: 24px; margin: 0 0.5rem;
        }
    }
}