
// Vertical Spacing

.mt4{margin-top: 0.25rem;}
.mt8{margin-top: 0.5rem;}
.mt16{margin-top: 1rem;}
.mt24{margin-top: 1.5rem;}
.mt32{margin-top: 2rem;}
.mt40{margin-top: 2.5rem;}
.mt48{margin-top: 3rem;}
.mt56{margin-top: 3.5rem;}
.mt64{margin-top: 4rem;}

.mb4{margin-bottom: 0.25rem;}
.mb8{margin-bottom: 0.5rem;}
.mb16{margin-bottom: 1rem;}
.mb24{margin-bottom: 1.5rem;}
.mb32{margin-bottom: 2rem;}
.mb40{margin-bottom: 2.5rem;}
.mb48{margin-bottom: 3rem;}
.mb56{margin-bottom: 3.5rem;}
.mb64{margin-bottom: 4rem;}

// Color System

.bg-p1-025 { background-color:$p1-025 !important;}
.bg-p1-050 { background-color:$p1-050 !important;}
.bg-p1-075 { background-color:$p1-075 !important;}
.bg-p1-100 { background-color:$p1-100 !important;}
.bg-p1-200 { background-color:$p1-200 !important;}
.bg-p1-300 { background-color:$p1-300 !important;}
.bg-p1-400 { background-color:$p1-400 !important;}

.bg-gray-100{ background-color:$gray-100 !important;}
.bg-gray-200{ background-color:$gray-200 !important;}
.bg-gray-300{ background-color:$gray-300 !important;}
.bg-gray-400{ background-color:$gray-400 !important;}
.bg-gray-500{ background-color:$gray-500 !important;}
.bg-gray-600{ background-color:$gray-600 !important;}
.bg-gray-700{ background-color:$gray-700 !important;}
.bg-gray-800{ background-color:$gray-800 !important;}
.bg-gray-900{ background-color:$gray-900 !important;}

#big-photo7{
    background-image:url('./img/photo_sample/1280x720/07.jpg');
}