
p{
    color: $gray-700;
    &.small{
        font-size:$font-size-p-small;
        margin-bottom: 1.25rem;
    }
    &.tiny{
        font-size:$font-size-p-tiny;
        margin-bottom: 1rem;
    }
}