
@import './scss/_normalize.scss';
@import './scss/bootstrap-grid.scss';

@import './scss/_vars.scss';
@import './scss/_app_layout.scss';
@import './scss/_app_utilities.scss';
@import './scss/_typography.scss';
@import './scss/_side_header.scss';
@import './scss/style_sample.scss';
@import './scss/_carousel.scss';

@import './components/head/_article_head.scss';
@import './components/action_bar/_article_actionbar.scss';



*, *:before, *:after{
    box-sizing: border-box;
    margin:0; padding:0;
}
ol, ul { list-style: none;}
.container {
    
    .row{

    }
}
