
@import './css/_normalize.scss';
@import './css/custom/bootstrap.scss';

@import './css/_app_variable.scss';
@import './css/_app_layout.scss';
@import './css/_util.scss';
@import './css/_typography.scss';
@import './css/_header.scss';
@import './css/style_sample.scss';


*, *:before, *:after{
    box-sizing: border-box;
    margin:0; padding:0;
}
ol, ul { list-style: none;}
.container {
    
    .row{

    }
}
