.app-wrap{
    width: 100%; min-height: 100vh; 
    display: flex; align-items: stretch;
}
.page-wrap{
    width: calc(100% - 240px); position: relative; word-break: keep-all;
    .content-wrap{
        width: 100%; 
        &:before {
            clear: both; display: table; content:"";
        }        
    }
}

.container.guide {
    max-width: 840px;
    img{
        margin: $spacing-07 0; max-width: 840px; width: 100%; height: auto;
        &.col2-img{
            padding:0; margin:0;
        }
    }
    .table{
        margin: $spacing-06 0;
    }
    .col2-block{
        padding: $spacing-05 $spacing-06;
    }
    .guide-infobox{
        border-top: 2px solid $ui-04; margin-top:$layout-05;
        padding: $spacing-05 0 $spacing-09 0;
        flex-direction: column;
        h6{
            margin:$spacing-05 0;
        }
    }
    .divide-line{
        display: block; width: 100%; height: 1px; background-color: $ui-04; margin: 1rem 0 2rem 0;
    }
    
    span[class^="spacing-chip"]{
        display: block; background-color: rgba(220,25,0,0.2);
    }
    .spacing-chip-1 { width: 2px; height: 2px; }
    .spacing-chip-2 { width: 4px; height: 4px; }
    .spacing-chip-3 { width: 8px; height: 8px; }
    .spacing-chip-4 { width: 12px; height: 12px; }
    .spacing-chip-5 { width: 16px; height: 16px; }
    .spacing-chip-6 { width: 24px; height: 24px; }
    .spacing-chip-7 { width: 32px; height: 32px; }
    .spacing-chip-8 { width: 40px; height: 40px; }
    .spacing-chip-9 { width: 48px; height: 48px; }
    .spacing-chip-10 { width: 56px; height: 56px; }
}

.system-header{
    width: 100%; height: 194px; margin: 0 auto $layout-04 auto; border-bottom: 1px solid $ui-04;
    background-color:$ui-02;
    .system-chapter-title{
        margin: 0 0 0.5rem 0; padding-top: 4.75rem; 
        &:before, &:after {
            clear: both; display: block; content:"";
        }
        span{
            color: #9B9B9B;
        }
    }
    p{ padding:0; line-height: $line-height-base; }
}
.system-chapter-subtitle{
    margin: $spacing-08 0 $spacing-06 0; font-weight: 600; 
    &:before {
        clear: both; display: table; content:"";
    }
    span{
        color: #9B9B9B;
    }
}
.title-3th {
    color:$p1-100; font-weight: $font-weight-bold; margin:1.5rem 0 1rem 0;
    letter-spacing:-0.02em; 
}
.system-figure-wrap{
    width: 100%; text-align: center;
    &#grid-unit-pict{
        padding: 2.5rem; 
    }
    &.back-gray{
        
    } 
}
img#grid-unit-pict { width: 650px; }
img#found-layer-sample { height: 452px; }
img#found-type-length { width: 981px; height: 561px; }
img#grid-base-fontsize { width: 964px; margin-top: 1rem;}
img#grid-element-spacing { width: 723px; margin-top: 1rem;}
#icon_grid_1 { width: 480px; margin-top: 1rem;}
#icon_shape { width: 848px; margin-top: 1rem;}
#icon_size { width: 650px; margin-top: 1rem;}

.chapter-sub-hr{
    margin:3rem 0 3rem 0;
}
.spec-info-wrap{
    width: 100%; display: table; background-color:$ui-01;
    .table-row { 
        width: 100%; display: table-row; font-size: 14px; line-height: 20px;
        .table-cell{
            height:1.25rem; display: table-cell; padding: 0.5rem 1rem;
            border-top:1px solid #bcbcbc;
            &.no-border{
                border-top:transparent;
            }
            h1,h2,h3,h4,h5,h6{
                margin:1.5rem 0 0 0; line-height: 0.75em;
            }
        }
    
    }
}
.row-guide-16-8{
    background-image:url('./img/design_guide/grid_row_16_8.png');
    background-repeat: repeat-y; background-position: top center;
}
.row-guide-16-12{
    background-image:url('./img/design_guide/grid_row_16_12.png');
    background-position: top center;
}


// Doc - Home
.hero-wrap{
    overflow: hidden;
    &.home{
        position: relative; width: 100%; height: 780px; background-color:$text-base-01;
    }
    .hero-title-wrap{
        &.home{
            width: 580px; height: auto; text-align: center; 
            position: absolute; 
            left:50%; top:50%; 
            transform: translate(-50%, -50%);
            .logo{
                font-size: 5rem; color: $white;
            }
            p{
                color: $white; font-size: 1.75rem; font-weight: bold; line-height: 1.25em;
            }
        }
    }
}
.guide {
    &.home{
        
        .lead{
            font-size: 2rem; line-height: 1.25em; margin-top: $layout-07; text-align: center;
            font-weight: normal;
        }
        .divider-lead {
            display: block; width: 80px; height: 3px; position: relative; background-color: $p1-100;
            margin: 3rem auto;
        }
        h4{
            text-align: center; font-weight: bold; color:$text-base-01; margin-top:$spacing-09;
        }
        .cards-wrap{
            align-items:stretch;
        }
        .card-home1{
            margin-top:$spacing-06; height: 260px;
            padding: 1.25rem 1.75rem;
            background-color:$ui-02; border: 1px solid $ui-04;
            .title {
                font-size: 1.25rem; font-weight: bold; color:$text-base-01;
            }
            p{
                line-height: 1.5em;
            }
            
        }
        .card-home2{
            margin-top:$spacing-06; height: 340px;
            .title {
                font-size: 1.5rem; font-weight: bold; color:$p1-100; text-align: center; margin-top:$spacing-04;  
            }
            padding: 1.25rem 2rem;
            background-color:$white; border: 1px solid $p1-075;
        }
    }
}
// Style - Color
.style-guide-color{
    &.colorchip-row {
        width:100%; display: flex;
    }
    &.colorchip-small{
        width:112px; height:112px; background-color:#999;
        figcaption {  margin-top: 120px;}
    }
    
}
.card-image-type01{
    width: 100%; min-height: 180px; margin: 0.75rem 0;
    .card-head {
        width:100%; height: 136px; overflow:hidden; 
        
        
        &.inner-shadow{
            box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
        }
    }
    .card-body{
        width: 100%; padding: 0.5rem 1.25rem; position: relative;
        background-color:#fff; min-height: 100px; 
        border:1px solid ;border-top: 1px solid transparent;
        
        p {
            margin-bottom:0;
            &.small { line-height: 1.25rem; }
        }
    }
}

//shadow
.shadow-10 {
    box-shadow: 2px 4px 12px rgba(0,0,0,0.075);
}

// Sample
.sample-button-wrap{
    padding:1rem 0;
    button{
        margin:0 0.25rem;
    }
}
