
$co-colors__black: #000000;
$co-colors__white: #ffffff;
$co-colors__red--10: #fff0f1;
$co-colors__red--20: #fcd0d3;
$co-colors__red--30: #ffa4a9;
$co-colors__red--40: #ff767c;
$co-colors__red--50: #fb4b53;
$co-colors__red--60: #da1e28;
$co-colors__red--70: #a51920;
$co-colors__red--80: #750e13;
$co-colors__red--90: #570408;
$co-colors__red--100: #2c080a;
$co-colors__magenta--10: #fff0f6;
$co-colors__magenta--20: #ffcfe1;
$co-colors__magenta--30: #ffa0c2;
$co-colors__magenta--40: #fa75a6;
$co-colors__magenta--50: #ee538b;
$co-colors__magenta--60: #d12765;
$co-colors__magenta--70: #a11950;
$co-colors__magenta--80: #760a3a;
$co-colors__magenta--90: #57002b;
$co-colors__magenta--100: #2a0a16;
$co-colors__purple--10: #f7f1ff;
$co-colors__purple--20: #e6d6ff;
$co-colors__purple--30: #d0b0ff;
$co-colors__purple--40: #bb8eff;
$co-colors__purple--50: #a970ff;
$co-colors__purple--60: #8a3ffc;
$co-colors__purple--70: #6e32c9;
$co-colors__purple--80: #4f2196;
$co-colors__purple--90: #38146b;
$co-colors__purple--100: #1e1033;
$co-colors__blue--10: #edf4ff;
$co-colors__blue--20: #c9deff;
$co-colors__blue--30: #97c1ff;
$co-colors__blue--40: #6ea6ff;
$co-colors__blue--50: #418cff;
$co-colors__blue--60: #0062ff;
$co-colors__blue--70: #054ada;
$co-colors__blue--80: #0530ad;
$co-colors__blue--90: #061f80;
$co-colors__blue--100: #051243;
$co-colors__cyan--10: #e3f6ff;
$co-colors__cyan--20: #b3e6ff;
$co-colors__cyan--30: #6ccaff;
$co-colors__cyan--40: #30b0ff;
$co-colors__cyan--50: #1193e8;
$co-colors__cyan--60: #0072c3;
$co-colors__cyan--70: #0058a1;
$co-colors__cyan--80: #003d73;
$co-colors__cyan--90: #002b50;
$co-colors__cyan--100: #07192b;
$co-colors__teal--10: #dbfbfb;
$co-colors__teal--20: #87eded;
$co-colors__teal--30: #20d5d2;
$co-colors__teal--40: #00bab6;
$co-colors__teal--50: #009e9a;
$co-colors__teal--60: #007d79;
$co-colors__teal--70: #006161;
$co-colors__teal--80: #004548;
$co-colors__teal--90: #003137;
$co-colors__teal--100: #081a1c;
$co-colors__green--10: #dafbe4;
$co-colors__green--20: #9deeb2;
$co-colors__green--30: #56d679;
$co-colors__green--40: #3dbb61;
$co-colors__green--50: #24a249;
$co-colors__green--60: #198038;
$co-colors__green--70: #10642a;
$co-colors__green--80: #054719;
$co-colors__green--90: #01330f;
$co-colors__green--100: #081b09;
$co-colors__cool-gray--10: #f2f4f8;
$co-colors__cool-gray--20: #d5d9e0;
$co-colors__cool-gray--30: #b9bfc7;
$co-colors__cool-gray--40: #9fa5ad;
$co-colors__cool-gray--50: #868d95;
$co-colors__cool-gray--60: #697077;
$co-colors__cool-gray--70: #50565b;
$co-colors__cool-gray--80: #373d42;
$co-colors__cool-gray--90: #242a2e;
$co-colors__cool-gray--100: #13171a;
$co-colors__gray--10: #f3f3f3;
$co-colors__gray--20: #dcdcdc;
$co-colors__gray--30: #bebebe;
$co-colors__gray--40: #a4a4a4;
$co-colors__gray--50: #8c8c8c;
$co-colors__gray--60: #6f6f6f;
$co-colors__gray--70: #565656;
$co-colors__gray--80: #3d3d3d;
$co-colors__gray--90: #282828;
$co-colors__gray--100: #171717;
$co-colors__warm-gray--10: #f7f3f1;
$co-colors__warm-gray--20: #e0dbda;
$co-colors__warm-gray--30: #c1bcbb;
$co-colors__warm-gray--40: #a7a2a2;
$co-colors__warm-gray--50: #8f8b8b;
$co-colors__warm-gray--60: #726e6e;
$co-colors__warm-gray--70: #595555;
$co-colors__warm-gray--80: #403c3c;
$co-colors__warm-gray--90: #2b2828;
$co-colors__warm-gray--100: #1a1717;

//--------------------
// CLASSIC COLORS
//--------------------

// UI Color Scheme
$color__blue-20: #7cc7ff !default;
$color__blue-30: #5aaafa !default;
$color__blue-40: #5596e6 !default;
$color__blue-50: #4178be !default;
$color__blue-90: #152935 !default;
$color__navy-gray-1: #0f212e !default;
$color__navy-gray-2: #20343e !default;
$color__navy-gray-3: #2d3f49 !default;
$color__navy-gray-4: #394b54 !default;
$color__navy-gray-5: #42535c !default;
$color__navy-gray-6: #5a6872 !default;
$color__navy-gray-7: #8c9ba5 !default;
$color__navy-gray-8: #dfe6eb !default;
$color__navy-gray-9: #eff2f5 !default;
$color__white: #fff !default;

// Light UI Color Scheme
$color__blue-51: #3d70b2 !default;
$color__gray-1: #dfe3e6 !default;
$color__gray-2: #f0f3f6 !default;
$color__gray-3: #f5f7fa !default;

// Accent Colors
$color__blue-10: #c0e6ff !default;
$color__blue-60: #325c80 !default;
$color__teal-10: #a7fae6 !default;
$color__teal-20: #6eedd8 !default;
$color__teal-30: #41d6c3 !default;
$color__teal-40: #00b4a0 !default;
$color__teal-50: #008571 !default;
$color__teal-60: #006d5d !default;
$color__green-10: #c8f08f !default;
$color__green-20: #b4e051 !default;
$color__green-30: #8cd211 !default;
$color__green-40: #5aa700 !default;
$color__green-50: #4b8400 !default;
$color__green-60: #2d660a !default;
$color__yellow-10: #fde876 !default;
$color__yellow-20: #fdd600 !default;
$color__yellow-30: #efc100 !default;
$color__yellow-60: #735f00 !default;
$color__orange-10: #ffd4a0 !default;
$color__orange-20: #ffa573 !default;
$color__orange-30: #ff7832 !default;
$color__orange-60: #a53725 !default;
$color__red-10: #ffd2dd !default;
$color__red-30: #ff7d87 !default;
$color__red-40: #ff5050 !default;
$color__red-50: #e71d32 !default;
$color__red-60: #ad1625 !default;
$color__purple-10: #eed2ff !default;
$color__purple-20: #d7aaff !default;
$color__purple-30: #ba8ff7 !default;
$color__purple-40: #af6ee8 !default;
$color__purple-60: #734098 !default;