
a{
    &:active{
        color:$link-active;
    }
    &:visited{
        color:darken($link-active, 20%);
    }
    &:focus{
        color:#000; border:1px solid;
    }
}
p{
    color: $text-base-color01;
    &.small{
        font-size:$font-size-p-small;
        margin-bottom: 1.25rem;
    }
    &.tiny{
        font-size:$font-size-p-tiny;
        margin-bottom: 1rem;
    }
}
h1 {
    &.display1{
        font-size: $display1-size;
        line-height: $display-line-height;
    }
    &.display2{
        font-size: $display2-size;
        line-height: $display-line-height;
    }
    &.display3{
        font-size: $display3-size;
        line-height: $display-line-height;
    }
    &.display3{
        font-size: $display4-size;
        line-height: $display-line-height; 
    }
}