
@import './_colors.scss';

// Variables
//


//
// Color System
//

$white: #fff !default;
$black:#000 !default;

$p1-025:  #FFE8F2;
$p1-050:  #FFB6CE;
$p1-075:  #EF6694;
$p1-100:  #DE1B6F;
$p1-200:  #C20254;
$p1-300:  #8D0753;
$p1-400:  #620037;

$p2-025:  #FFFAE6;
$p2-050:  #FFF0B3;
$p2-075:  #FFD231;
$p2-100:  #FF9600;
$p2-200:  #FF5E00;
$p2-300:  #DC1900;
$p2-400:  #8C1800;

$ui-01:#fff;
$ui-02:#F8F9FA;
$ui-03:#E9EEF1;
$ui-04:#D7DCE0;
$ui-05:#5A6872;

$text-base-01: #212529;
$text-base-02: #495057;
$text-base-03: #6F757C;
$text-base-04: #CDD1D4;

$success: $co-colors__green-080;
$info: $co-colors__cyan-080;
$warning: $co-colors__yellow-080;
$danger: $co-colors__red-100;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// yiq contrast 함수의 분기점이 되는 역치값 설정
$yiq-contrasted-threshold: 150 !default;

// yiq contrast 함수를 사용하여 변경되는 어두운 텍스트 색상과 밝은 텍스트 색상 설정
$yiq-text-dark: $text-base-01 !default;
$yiq-text-light: $white !default;


// Links
//
// Style anchor elements.

$link-color:                $p1-100 !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

$link-active:$p1-100 !default;


// Spacing
//
//

$spacing-baseline: 1rem !default;

$spacing-3xs: $spacing-baseline * 0.125 !default;
$spacing-2xs: $spacing-baseline * 0.25 !default;
$spacing-xs: $spacing-baseline * 0.5 !default;
$spacing-sm: $spacing-baseline * 0.75 !default;
$spacing-md: $spacing-baseline !default;
$spacing-lg: $spacing-baseline * 1.5 !default;
$spacing-xl: $spacing-baseline * 2 !default;
$spacing-2xl: $spacing-baseline * 2.5 !default;
$spacing-3xl: $spacing-baseline * 3 !default;

$layout-spacing-2xs: $spacing-baseline !default;
$layout-spacing-xs: $spacing-baseline * 1.5 !default;
$layout-spacing-sm: $spacing-baseline * 2 !default;
$layout-spacing-md: $spacing-baseline * 3 !default;
$layout-spacing-lg: $spacing-baseline * 4 !default;
$layout-spacing-xl: $spacing-baseline * 6 !default;
$layout-spacing-2xl: $spacing-baseline * 8 !default;
$layout-spacing-3xl: $spacing-baseline * 10 !default;


// Typography
//
//

$font-family-sans-serif:      "Noto Sans CJK","Malgun Gothic","AppleSDGothicNeo","Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-base:              1rem !default;
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5em !default;

$font-size-base:              1rem !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.3 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacing-md !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        400 !default;
$headings-line-height:        1.25em !default;
$headings-color:              inherit !default;

$font-size-p-small: 14px;
$font-size-p-tiny: 12px;

$display1-size:               5rem !default;
$display2-size:               4.5rem !default;
$display3-size:               4rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             700 !default;
$display2-weight:             700 !default;
$display3-weight:             700 !default;
$display4-weight:             700 !default;
$display-line-height:         1.25em !default;

$base-letterspacing:          -0.025em;

$paragraph-margin-bottom: 1rem;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-bg:                    transparent !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          1px !default;
$table-border-color:          $gray-200 !default;

$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-dark-bg:               $gray-900 !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($gray-900, 7.5%) !default;



/// Motion
//
$duration-quick: 150ms;
$duration-base: 250ms;


/// etc
//
$border-radius: 4px !default;
/// Components
//
// article
$article-head-height-full: 100vh;
$article-head-height: 560px;

//
$btn-font-weight: 400;
$btn-transition:  color .15s ease-in-out, background-color .15s ease-in-out, 
border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Carousel

$carousel-control-color:            #fff !default;
$carousel-control-width:            15% !default;
$carousel-control-opacity:          .5 !default;

$carousel-indicator-width:          30px !default;
$carousel-indicator-height:         3px !default;
$carousel-indicator-spacer:         3px !default;
$carousel-indicator-active-bg:      #fff !default;

$carousel-caption-width:            70% !default;
$carousel-caption-color:            #fff !default;

$carousel-control-icon-width:       20px !default;

$carousel-control-prev-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$carousel-control-next-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$carousel-transition:               transform .6s ease !default;

